input {
  color: black;
  font-family: inherit;
  height: 100px;
  width: 600px;
  font-size: 50px;
  border-radius: 20px;
  text-align: center;
}

.gcse-searchbox {
  max-width: 100%; /* Ensure it fits within the parent container */
}
#btn-container{
  padding: 10px;
}
#search-btn{
  font-weight: 600;
  height: 35px;
  width: 75px;
  border-radius: 10px;
  background-color: lightblue;
  border: 10px;

}
